// Contact form
mixin contacts-form()
	+b('form').form.js-form(action='form/', method='post')&attributes(attributes)

		+e('div').group_left
			+e('input').field(
				name='name',
				type='text',
				placeholder='Name',
				required='required',
				data-validation='length illegal-field',
				data-validation-length='2-100',
				data-validation-error-msg='Name field is empty or contain invalid characters'
				)

			+e('input').field(
				name='email',
				type='email',
				placeholder='E-mail',
				required='required',
				data-validation='email',
				data-validation-error-msg='E-mail field is empty or contain invalid characters',
				data-validation-allowing='-_.',
				)

			+e('input').field(
				name='phone',
				type='tel',
				placeholder='Phone',
				required='required',
				data-validation='number',
				data-validation-error-msg='Phone field is empty or contain invalid characters',
				data-validation-allowing='-()+',
				)

		+e('div').group_right
			+e('textarea').area(
				name='message',
				placeholder='Message',
				required='required',
				data-validation='length illegal-text',
				data-validation-length="min3",
				data-validation-error-msg='Message field is empty or contain invalid characters'
				) Message

		+e('input').submit.common-btn.js-submit(
			name='submit',
			type='submit',
			value='Send message'
			)

		block
